$phone: 375px;
$tabletSmall: 575px;
$tablet: 765px;
$desktopSmall: 1024px;
$desktop: 1280px;

$border-sm: 4px;
$border-lg: 8px;
$border-half: 50%;

$space-xxs: 8px;
$space-xs: 16px;
$space-sm: 20px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 48px;
$space-xxl: 60px;
$space-xxxl: 72px;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 28px;
$font-xl: 32px;
