<body [attr.data-theme]="currTheme">
  <div class="container">
    <div class="bg-image"></div>
    <header class="header">
      <h1 class="header-title">TODO</h1>
      <button class="header-themeSwitch" (click)="toggleTheme()"></button>
    </header>
    <div class="content">
      <label for="newTaskInput" class="form">
        <input 
          type="text" 
          name="text" 
          placeholder="Create a new todo..." 
          id="newTaskInput" class="form-input"
          [(ngModel)]="newTaskText"
          (keyup.enter)="addItem()" 
        />
      </label>

      <div cdkDropList class="list" (cdkDropListDropped)="onDrop($event)">
        @if(currItems.length) {
          @for (item of currItems; track item; let last = $last) {
            <app-todo-item 
              class="list-item" 
              [ngClass]="{'last': last}"
              [item]="item" 
              (checkboxClick)="handleCheckboxClick($event)"
              cdkDragPreviewContainer="parent" 
              cdkDragLockAxis="y" 
              cdkDrag 
            />
          }
        } @else {
          <span class="list-emptyText">Nothing to show here D:</span>
        }
      </div>
      <div class="sticky-footer">
        <div class="list-footer">
          <span class="list-footer-item">{{ itemsLeft }} items left</span>
          <div class="list-filters">
            <button (click)="onFilterClick('none')" [class.selected]="currFilter === 'none'">
              All
            </button>
            <button (click)="onFilterClick('active')" [class.selected]="currFilter === 'active'">
              Active
            </button>
            <button (click)="onFilterClick('completed')" [class.selected]="currFilter === 'completed'">
              Completed
            </button>
          </div>
          <button class="list-footer-item" (click)="removeCompleted()">Clear completed</button>
        </div>
        <span class="help-text">Drag and drop to reorder list</span>
      </div>
    </div>
  </div>
  <span id="snackbar">A new to-do must have more than 3 characters!</span>
</body>